/*
Original Bootstrap's CSS depends on empty href attributes to style cursors for several components (pagination,
tabs etc.). But in AngularJS adding empty href attributes to link tags will cause unwanted route changes. This
is why we need to remove empty href attributes from directive templates and as a result styling is not applied
correctly. The remedy is simple, just add the following styling to your application:
*/
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/*
https://docs.angularjs.org/api/ng/directive/ngCloak
*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    font-size: 1em;
}

#alertBox {
    position: fixed;
    min-width: 75%;
    left: 50%;
    margin: 0 0 0 -37.5%;
    top: 5px;
}
