.form-group(ng-class="{ 'has-error' : questionForm.title.$invalid }")
	label.control-label.col-sm-2(for="question.title") Question Title
	.col-sm-10
		input.form-control(type="text", ng-model="question.title", placeholder="Question Title", name="title", required, ng-minlength="3", ng-maxlength="30", autofocus)
		p.help-block(ng-show="questionForm.title.$invalid") question title is required

.form-group(ng-class="{ 'has-error' : questionForm.text.$invalid }")
	label.control-label.col-sm-2(for="question.text") Question Text
	.col-sm-10
		input.form-control(type="text", ng-model="question.text", placeholder="Question Text", name="text", required, ng-minlength="3", ng-maxlength="30", autofocus)
		p.help-block(ng-show="questionForm.text.$invalid") question title is required

.form-group
	.col-lg-10
		.col-lg-offset-3.thumbnail.image-container.col-lg-2.dropzone(image-dropzone="[image/png, image/jpeg, image/gif]", file="question.image", file-name="question.imageFileName", max-file-size="2", ng-class="{ 'has-error' : questionForm.imageFileName.$invalid }")
			img(ng-src="{{question.image}}" ng-show="question.image", tooltip="{{question.imageFileName}}")
			span(ng-hide="question.image") drop an image here
			input.form-control(type="text", ng-model="question.imageFileName", required, name="imageFileName", ng-show="question.image")
			p.help-block(ng-show="questionForm.imageFileName.$invalid && question.image") image title is required

		.col-lg-offset-3.thumbnail.image-container.col-lg-2.dropzone(image-dropzone="[image/png, image/jpeg, image/gif]", file="question.image2", file-name="question.imageFileName2", max-file-size="2", ng-class="{ 'has-error' : questionForm.imageFileName2.$invalid }")
			img(ng-src="{{question.image2}}" ng-show="question.image2", tooltip="{{question.imageFileName2}}")
			span(ng-hide="question.image2") drop an image here
			input.form-control(type="text", ng-model="question.imageFileName2", required, name="imageFileName2", ng-show="question.image2")
			p.help-block(ng-show="questionForm.imageFileName2.$invalid && question.image2") image title is required
