h1 Survey Start!

.row
	.col-sm-8.col-sm-offset-2
		#form-container
			.page-header.text-center
				h2 Survey Home
					#status-buttons.text-center
						a(ui-sref-active="active", ui-sref=".details") Details
						a(ui-sref-active="active", ui-sref=".audience") Audience
						a(ui-sref-active="active", ui-sref=".activate") Activate

			form#signup-form(ng-submit="processForm()")
				#form-views(ui-view="")
