doctype strict
html(lang='en', data-ng-app='tgtrad-survey')
	head
		meta(charset="utf-8")
		title Survey Admin
		link(rel="stylesheet", href="/css/app.css")
		link(href="/components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
		link(href="/components/font-awesome/css/font-awesome.min.css", rel="stylesheet")
	body
		h1 yoyo

		script(type="text/javascript", src="/components/angular/angular.js")
		script(type="text/javascript", src="/components/angular-route/angular-route.js")
		script(type="text/javascript", src="/components/angular-bootstrap/ui-bootstrap.js")
		script(type="text/javascript", src="/components/angular-cookies/angular-cookies.js")
		script(type="text/javascript", src="/js/app.js")
		script(type="text/javascript", src="/js/services.js")
		script(type="text/javascript", src="/js/controllers.js")
		script(type="text/javascript", src="/js/filters.js")
		script(type="text/javascript", src="/js/directives.js")
